<html>
<head>
	<title>Mark Lau</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body id="index">
	<div id="top_container">
		<a href="">
			<img id="logo" src="images/xiaoming.jpg"></img>
		</a>
		<h1>Hi there!</h1>
		<div id="info_container">
			<div>I'm Mark Lau and below is my</div>
			<div class="orange">Websites.</div>
			<div>You can follow the project here and on the 
				<span><a href="http://lonng.tumblr.com">blog</a></span>.
			</div>
		</div>
	</div>

	<div id="marquee_container">
		<div>Latest Website</div>
		<a href="">Latest Website</a>
	</div>

	<div id="website_list_container">
		
		<div>
			<span><a href="">How do you feel</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Demo</a></span>
		</div>
		<div>
			<span><a href="">Hello World</a></span>
		</div>
	</div>

</body>
</html>
