<html>
<head>
	<title>Mark Lau</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body id="index">
	<div id="top_container">
		<a href="mailto:lonnglau@gmail.com">
			<img id="logo" src="http://25.media.tumblr.com/avatar_b1c0bd01ed87_128.png"></img>
		</a>
		<h1>Hi there!</h1>
		<div id="info_container">
			<div>I'm Mark Lau and below is my</div>
			<div class="orange">Websites.</div>
			<div>You can follow the project here and on the 
				<span><a href="http://lonng.tumblr.com">blog</a></span>.
			</div>
		</div>
	</div>

	<div id="marquee_container">
		<div>Latest Website</div>
		<a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day7/index.html">A Little AJAX</a>
	</div>

	<div id="website_list_container">
		
		<div>
			<span><a href=""></a></span>
		</div>
		<div>
			<span><a href=""></a></span>
		</div>
		<div>
			<span><a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day7/index.html"></a>A Little AJAX</span>
		</div>
		<div>
			<span><a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day6/index.html"></a>Clock</span>
		</div>
		<div>
			<span><a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day5/index.html"></a>Greetings</span>
		</div>
		<div>
			<span><a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day3/index.html">What day is it today</a></span>
		</div>
		<div>
			<span><a href="https://rawgithub.com/lonn/lonn.github.com/master/blogeveryday/day2/parallax_demo.html">Parallax Effect</a></span>
		</div>
		<div>
			<span><a href="">Hello World</a></span>
		</div>
	</div>

</body>
</html>
