<!DOCTYPE html>
<html>
<head>
　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>{{ page.title }}</title>

	<!-- Homepage CSS -->
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1>
			<a href="/">{{ page.title }}</a>
		</h1>
	</div>

	<div id="container">
		<!-- <div id="home">
			<h2>Blog Posts</h2>
		</div> -->

		{{ content }}
		
		<div id="cols">
			<div class="col">
				<div class="box">
					<h3>IT articles</h3>
					<a href="http://coolshell.cn/articles/4990.html">程序员技术练级攻略</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet 2</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
				</div>
			</div>
			<div class="col">
				<div class="box">
					<h3>design</h3>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
				</div>
			</div>
			<div class="col mr0">
				<div class="box">
					<h3>resources</h3>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
					<a href="/">Not set yet</a>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		lonnglau@gmail.com
	</div>
</div>
</body>
</html>
