---
layout: default
alt: This is a single post, but you can find more in the <a href="/archives/">archives</a>.
---
<div id="post">
  <div class="post-title">{{ page.title }}<a id="permalink" href="{{ page.url }}">#</a></div>

  <div class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
    {% if page.location %}
      &mdash; {{ page.location }}
    {% endif %}
  </div>

  <div class="content, clearfix">
    {{ content }}
  </div>
</div>
